# Data Cleaning for MySQL Database Tables

In [1]:
import pandas as pd

# Load the uploaded CSV file
file_path = 'Inventory Table_Uncleaned.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

   ItemNum  QuantityOnHand  Cost  Price PurchaseDate Location
0     1000              29  2.35    NaN   02/01/2022      D12
1     1000              27   NaN   5.49          NaN      D12
2     2000               3   NaN   3.99          NaN      p12
3     1100              13   NaN   1.49          NaN       a2
4     1100              53  0.69    NaN   02/02/2022       a2

In [5]:
# Clean the data based on the requirements

# 1. Sum up all the quantities with the same ItemNum, and retain the date and location.
#    Assuming we want to keep the earliest date and the most frequent location.

# Convert dates to datetime format for proper handling
data['PurchaseDate'] = pd.to_datetime(data['PurchaseDate'], errors='coerce')

# Aggregate data by 'ItemNum'
cleaned_data = (
    data.groupby('ItemNum', as_index=False)
    .agg({
        'QuantityOnHand': 'sum',
        'PurchaseDate': 'min',
        'Location': lambda x: x.mode()[0] if not x.mode().empty else None
    })
)

# 2. Drop the 'Cost' and 'Price' columns (they are excluded from aggregation automatically).

# Save and display the cleaned data
cleaned_data_path = 'Cleaned_Inventory_Table.csv'
cleaned_data.to_csv(cleaned_data_path, index=False)

In [10]:
# Load the uploaded CSV file
file_path = 'Products Table.csv'
prod_data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
prod_data.head()

,ItemNum,Description,ItemType,Location,Unit,VendorID
0,1000,Bennet Farm free-range eggs,Dairy,D12,dozen,BEN01
1,1000,Bennet Farm free-range eggs,Dairy,D12,dozen,BEN01
2,2000,Ruby's Kale,Produce,p12,bunch,RUB02
3,1100,Freshness White beans,Canned,a2,12 ounce can,FRE03
4,1100,Freshness White beans,Canned,a2,12 oz can,FRE03

In [12]:
# Remove duplicates based on the 'ItemNum' column
cleaned_prod_data = prod_data.drop_duplicates(subset='ItemNum', keep='first')

# Save the cleaned data to a new file for review
cleaned_file_path = 'Cleaned_Products_Table.csv'
cleaned_prod_data.to_csv(cleaned_file_path, index=False)